.wrapperHome {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.wrapperHome .wrapperCard {
  display: flex;
  background-color: #F6F6F6;
  padding: 50px;
  border-radius: 25px;
}
.wrapperHome .wrapperCard .gridCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .wrapperHome {
    gap: 20px;
  }
  .wrapperHome .wrapperCard {
    padding: 20px;
  }
  .wrapperHome .wrapperCard .gridCard {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .wrapperHome .wrapperCard .gridCard {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .wrapperHome {
    gap: 20px;
  }
  .wrapperHome .wrapperCard {
    padding: 0px;
    background-color: white;
  }
  .wrapperHome .wrapperCard .gridCard {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}