.wrapperNotFound {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 100px;
  text-align: center;
  margin: 50px auto;
  flex: 1;
}
.wrapperNotFound h1 {
  font-size: 288px;
  color: #FF6060;
  font-weight: 700;
}
.wrapperNotFound p {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
}
.wrapperNotFound a {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

@media (max-width: 500px) {
  .wrapperNotFound {
    margin: 20px auto 50px auto;
  }
  .wrapperNotFound h1 {
    font-size: 96px;
  }
  .wrapperNotFound p {
    font-size: 18px;
  }
}